.main-title {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 60px;
}

.icona-button {
    font-size: 32px;
    color: gray;
}

.icona-adjust {
    position: relative;
    top: 10px;
}

.section {
    margin: auto;
    border: 2px solid grey;
    width: 40%;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.student {
    font-size: 24px;
    position: relative;
    top: 5px;
    left: -10px;
}

.grassetto {
    font-weight: bold;
}

table {
    margin: auto;
    width: 40%;
    border-collapse: collapse;
}

th {
    font-size: 20px;
}

tr {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}

#pulasnte:hover {
    color: green;
    font-weight: bold;

}
