h1{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

input,select,button{
    width: 80%;
}

td{
    text-align: center;
}

table{
    width: 50%;
    margin-left: 25%;
}

.sbar{
    text-decoration: line-through;
}

#lista{
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    padding-bottom: 2%;
    border-top: solid gray 5px;
}